#import pandas

In [1]:
import pandas as pd

#Read in the dataset

In [2]:
hotel_bookings = pd.read_csv('hotel_bookings.csv')

#First look at the dataset

In [27]:
hotel_bookings

,hotel,is_canceled,lead_time,arrival_date_month,arrival_date_week_number,arrival_date_year,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,num_adults,...,agent,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,lead_time_binned,arrival_date
0,Resort Hotel,False,342,July,27,2015,1,0,0,2,...,-1,0,Transient,0.00,0,0,Check-Out,2015-07-01,301-400,2015-July-1
1,Resort Hotel,False,737,July,27,2015,1,0,0,2,...,-1,0,Transient,0.00,0,0,Check-Out,2015-07-01,701-800,2015-July-1
2,Resort Hotel,False,7,July,27,2015,1,0,1,1,...,-1,0,Transient,75.00,0,0,Check-Out,2015-07-02,0-100,2015-July-1
3,Resort Hotel,False,13,July,27,2015,1,0,1,1,...,304,0,Transient,75.00,0,0,Check-Out,2015-07-02,0-100,2015-July-1
4,Resort Hotel,False,14,July,27,2015,1,0,2,2,...,240,0,Transient,98.00,0,1,Check-Out,2015-07-03,0-100,2015-July-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,False,23,August,35,2017,30,2,5,2,...,394,0,Transient,96.14,0,0,Check-Out,2017-09-06,0-100,2017-August-30
119386,City Hotel,False,102,August,35,2017,31,2,5,3,...,9,0,Transient,225.43,0,2,Check-Out,2017-09-07,101-200,2017-August-31
119387,City Hotel,False,34,August,35,2017,31,2,5,2,...,9,0,Transient,157.71,0,4,Check-Out,2017-09-07,0-100,2017-August-31
119388,City Hotel,False,109,August,35,2017,31,2,5,2,...,89,0,Transient,104.40,0,0,Check-Out,2017-09-07,101-200,2017-August-31
119389,City Hotel,False,205,August,35,2017,29,2,7,2,...,9,0,Transient,151.20,0,2,Check-Out,2017-09-07,201-300,2017-August-29

#Drop/rename columns

In [4]:
hotel_bookings.columns

Index(['hotel', 'is_canceled', 'lead_time', 'arrival_date_year',
       'arrival_date_month', 'arrival_date_week_number',
       'arrival_date_day_of_month', 'stays_in_weekend_nights',
       'stays_in_week_nights', 'adults', 'children', 'babies', 'meal',
       'country', 'market_segment', 'distribution_channel',
       'is_repeated_guest', 'previous_cancellations',
       'previous_bookings_not_canceled', 'reserved_room_type',
       'assigned_room_type', 'booking_changes', 'deposit_type', 'agent',
       'company', 'days_in_waiting_list', 'customer_type', 'adr',
       'required_car_parking_spaces', 'total_of_special_requests',
       'reservation_status', 'reservation_status_date'],
      dtype='object')

In [28]:
hotel_bookings.drop(columns=['Unnamed: 0'], inplace=True, errors='ignore')
hotel_bookings.rename(columns={'adults': 'num_adults', 'children': 'num_children', 'babies': 'num_babies'}, inplace=True)
hotel_bookings.head(10)

,hotel,is_canceled,lead_time,arrival_date_month,arrival_date_week_number,arrival_date_year,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,num_adults,...,agent,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,lead_time_binned,arrival_date
0,Resort Hotel,False,342,July,27,2015,1,0,0,2,...,-1,0,Transient,0.0,0,0,Check-Out,2015-07-01,301-400,2015-July-1
1,Resort Hotel,False,737,July,27,2015,1,0,0,2,...,-1,0,Transient,0.0,0,0,Check-Out,2015-07-01,701-800,2015-July-1
2,Resort Hotel,False,7,July,27,2015,1,0,1,1,...,-1,0,Transient,75.0,0,0,Check-Out,2015-07-02,0-100,2015-July-1
3,Resort Hotel,False,13,July,27,2015,1,0,1,1,...,304,0,Transient,75.0,0,0,Check-Out,2015-07-02,0-100,2015-July-1
4,Resort Hotel,False,14,July,27,2015,1,0,2,2,...,240,0,Transient,98.0,0,1,Check-Out,2015-07-03,0-100,2015-July-1
6,Resort Hotel,False,0,July,27,2015,1,0,2,2,...,-1,0,Transient,107.0,0,0,Check-Out,2015-07-03,NaN,2015-July-1
7,Resort Hotel,False,9,July,27,2015,1,0,2,2,...,303,0,Transient,103.0,0,1,Check-Out,2015-07-03,0-100,2015-July-1
8,Resort Hotel,True,85,July,27,2015,1,0,3,2,...,240,0,Transient,82.0,0,1,Canceled,2015-05-06,0-100,2015-July-1
9,Resort Hotel,True,75,July,27,2015,1,0,3,2,...,15,0,Transient,105.5,0,0,Canceled,2015-04-22,0-100,2015-July-1
10,Resort Hotel,True,23,July,27,2015,1,0,4,2,...,240,0,Transient,123.0,0,0,Canceled,2015-06-23,0-100,2015-July-1

#NaNs

In [29]:
hotel_bookings.isnull().sum() *100 / len(hotel_bookings)

hotel                             0.000000
is_canceled                       0.000000
lead_time                         0.000000
arrival_date_month                0.000000
arrival_date_week_number          0.000000
arrival_date_year                 0.000000
arrival_date_day_of_month         0.000000
stays_in_weekend_nights           0.000000
stays_in_week_nights              0.000000
num_adults                        0.000000
num_children                      0.000000
num_babies                        0.000000
meal                              0.000000
country                           0.000000
market_segment                    0.000000
distribution_channel              0.000000
is_repeated_guest                 0.000000
previous_cancellations            0.000000
previous_bookings_not_canceled    0.000000
reserved_room_type                0.000000
assigned_room_type                0.000000
booking_changes                   0.000000
deposit_type                      0.000000
agent                             0.000000
days_in_waiting_list              0.000000
customer_type                     0.000000
adr                               0.000000
required_car_parking_spaces       0.000000
total_of_special_requests         0.000000
reservation_status                0.000000
reservation_status_date           0.000000
lead_time_binned                  6.838702
arrival_date                      0.000000
dtype: float64

In [19]:
hotel_bookings['agent'].unique()
hotel_bookings[hotel_bookings['agent'] == 5]

hotel_bookings['agent'] = hotel_bookings['agent'].fillna(-1).astype(int)

hotel_bookings[hotel_bookings['num_children'].isna()]

hotel_bookings[hotel_bookings['country'].isna()][['hotel', 'is_canceled', 'country']]

hotel_bookings['country'] = hotel_bookings['country'].fillna('Unknown')

hotel_bookings.dropna(subset=['num_children'], inplace=True)

#remove the 'company' column from the dataset here

In [20]:
hotel_bookings.drop(columns=['company', 'Unnamed: 0'],
                    inplace=True,
                    errors='ignore')

#Check column data types

In [21]:
hotel_bookings.dtypes

hotel                               object
is_canceled                        boolean
lead_time                            int64
arrival_date_month                  object
arrival_date_week_number             int64
arrival_date_year                    int64
arrival_date_day_of_month            int64
stays_in_weekend_nights              int64
stays_in_week_nights                 int64
num_adults                           int64
num_children                         int64
num_babies                           int64
meal                                object
country                             object
market_segment                      object
distribution_channel                object
is_repeated_guest                  boolean
previous_cancellations               int64
previous_bookings_not_canceled       int64
reserved_room_type                  object
assigned_room_type                  object
booking_changes                      int64
deposit_type                        object
agent                                int64
days_in_waiting_list                 int64
customer_type                       object
adr                                float64
required_car_parking_spaces          int64
total_of_special_requests            int64
reservation_status                  object
reservation_status_date             object
lead_time_binned                  category
arrival_date                        object
dtype: object

#Change data type

In [22]:
hotel_bookings = hotel_bookings.astype({
    'is_canceled': 'boolean', 
    'is_repeated_guest': 'boolean', 
    'num_children': 'int64', 
    'agent': 'int64'
    })
hotel_bookings.dtypes

hotel                               object
is_canceled                        boolean
lead_time                            int64
arrival_date_month                  object
arrival_date_week_number             int64
arrival_date_year                    int64
arrival_date_day_of_month            int64
stays_in_weekend_nights              int64
stays_in_week_nights                 int64
num_adults                           int64
num_children                         int64
num_babies                           int64
meal                                object
country                             object
market_segment                      object
distribution_channel                object
is_repeated_guest                  boolean
previous_cancellations               int64
previous_bookings_not_canceled       int64
reserved_room_type                  object
assigned_room_type                  object
booking_changes                      int64
deposit_type                        object
agent                                int64
days_in_waiting_list                 int64
customer_type                       object
adr                                float64
required_car_parking_spaces          int64
total_of_special_requests            int64
reservation_status                  object
reservation_status_date             object
lead_time_binned                  category
arrival_date                        object
dtype: object

#Bin columns

In [11]:
hotel_bookings['lead_time'].unique
hotel_bookings['lead_time'].describe()

#define the bins
bins = [0, 100, 200, 300, 400, 500, 600, 700, 800]
labels = ['0-100', '101-200', '201-300', '301-400', '401-500', '501-600', '601-700', '701-800'] 

hotel_bookings['lead_time_binned'] = pd.cut(hotel_bookings['lead_time'], bins=bins, labels=labels)
hotel_bookings[['lead_time', 'lead_time_binned']]

        lead_time lead_time_binned
0             342          301-400
1             737          701-800
2               7            0-100
3              13            0-100
4              14            0-100
...           ...              ...
119385         23            0-100
119386        102          101-200
119387         34            0-100
119388        109          101-200
119389        205          201-300

[119386 rows x 2 columns]

#Separate Columns

In [23]:
hotel_bookings.head()

,hotel,is_canceled,lead_time,arrival_date_month,arrival_date_week_number,arrival_date_year,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,num_adults,...,agent,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,lead_time_binned,arrival_date
0,Resort Hotel,False,342,July,27,2015,1,0,0,2,...,-1,0,Transient,0.0,0,0,Check-Out,2015-07-01,301-400,2015-July-1
1,Resort Hotel,False,737,July,27,2015,1,0,0,2,...,-1,0,Transient,0.0,0,0,Check-Out,2015-07-01,701-800,2015-July-1
2,Resort Hotel,False,7,July,27,2015,1,0,1,1,...,-1,0,Transient,75.0,0,0,Check-Out,2015-07-02,0-100,2015-July-1
3,Resort Hotel,False,13,July,27,2015,1,0,1,1,...,304,0,Transient,75.0,0,0,Check-Out,2015-07-02,0-100,2015-July-1
4,Resort Hotel,False,14,July,27,2015,1,0,2,2,...,240,0,Transient,98.0,0,1,Check-Out,2015-07-03,0-100,2015-July-1

In [13]:
hotel_bookings['arrival_date'] = (hotel_bookings['arrival_date_year'].astype(str) 
                                  + '-' + hotel_bookings['arrival_date_month'] 
                                  + '-' + hotel_bookings['arrival_date_day_of_month'].astype(str))
hotel_bookings.head()

column_to_move = hotel_bookings.pop('arrival_date_month')
hotel_bookings.insert(4, 'arrival_date_month', column_to_move)
hotel_bookings.head()

column_to_move = hotel_bookings.pop('arrival_date_year')
hotel_bookings.insert(5, 'arrival_date_year', column_to_move)
hotel_bookings.head()

,hotel,is_canceled,lead_time,arrival_date_month,arrival_date_week_number,arrival_date_year,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,num_adults,...,agent,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,lead_time_binned,arrival_date
0,Resort Hotel,False,342,July,27,2015,1,0,0,2,...,-1,0,Transient,0.0,0,0,Check-Out,2015-07-01,301-400,2015-July-1
1,Resort Hotel,False,737,July,27,2015,1,0,0,2,...,-1,0,Transient,0.0,0,0,Check-Out,2015-07-01,701-800,2015-July-1
2,Resort Hotel,False,7,July,27,2015,1,0,1,1,...,-1,0,Transient,75.0,0,0,Check-Out,2015-07-02,0-100,2015-July-1
3,Resort Hotel,False,13,July,27,2015,1,0,1,1,...,304,0,Transient,75.0,0,0,Check-Out,2015-07-02,0-100,2015-July-1
4,Resort Hotel,False,14,July,27,2015,1,0,2,2,...,240,0,Transient,98.0,0,1,Check-Out,2015-07-03,0-100,2015-July-1

In [24]:
#identify unique values in 'hotel' column(typos/errors)
hotel_bookings['hotel'].unique()

array(['Resort Hotel', 'City Hotel'], dtype=object)

#String cleaning

In [25]:
hotel_bookings['hotel'] = hotel_bookings['hotel'].replace(f"[\*\n\^]", '', regex=True)
hotel_bookings['hotel'].unique()

array(['Resort Hotel', 'City Hotel'], dtype=object)

#Remove duplicates in the dataframe, focus on cases where every column value is duplicated.

In [26]:
hotel_bookings.loc[hotel_bookings.duplicated(keep=False)]
hotel_bookings.drop_duplicates(keep='first', inplace=True)